.App {
  text-align: center;
}

span {
  color: red;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  width: 25%;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Center items horizontally */
}

.item img {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
  flex-shrink: 0; /* Prevent image from shrinking */
}

.item .info {
  flex-grow: 1; /* Allow info div to grow and fill available space */
  display: flex;
  flex-direction: column; /* Align children vertically */
  justify-content: center; /* Center children vertically */
}









.item .food-name {
  font-weight: bold;
}

.global-image img {
  width: 100px;
}


.updateContainer{
  display:flex;
}

.current {
  background-color: greenyellow;
}

.new {
  background-color: pink;
}


