.adminhome-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #eae6e6;
    background-image: linear-gradient(
    to bottom right,
    rgb(174, 247, 236),
    #9cbfe5,
    rgb(174, 247, 236),
    #9cbfe5,
    rgb(174, 247, 236)
  );
    text-align: center;
    height: 400px;
    width: 800px;
    border-radius: 5%;
    border: 6px solid #007bff;

    .adminhome-buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 45px;
        margin: 15px; 
        
    }

    h1 {
        color: #007bff;
    }
}