body,
html {
  height: 100vh;
  margin: 0;
  
}

.globalfooditems-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eae6e6;
  background-image: linear-gradient(
    to bottom right,
    rgb(174, 247, 236),
    #9cbfe5,
    rgb(174, 247, 236),
    #9cbfe5,
    rgb(174, 247, 236)
  );
  border: 6px solid #007bff;
  text-align: center;
  border-radius: 3%;
  width: 800px;
  max-width: 100%;
  margin: 50px auto;
  margin-top: 200px;
  margin-bottom: 50px;
  max-height: 90vh;
  overflow-y: auto;
}

.globalfooditems-title,
.globalfooditems-button {
  margin-top: 10px;
}

.globalfooditems-itemcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
}

.globalfooditems-image {
  height: 150px;
  border: 2px solid #007bff;
  margin-bottom: 3px;
  margin-left: 10px;
  margin-right: 10px;
}
