body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.watertracking-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #eae6e6;
    background-image: linear-gradient(
    to bottom right,
    rgb(174, 247, 236),
    #9cbfe5,
    rgb(174, 247, 236),
    #9cbfe5,
    rgb(174, 247, 236)
  );
    text-align: center;
    height: 400px;
    border-radius: 3%;
    width: 800px
}